article.storypage > header {
  text-align: center;
}

div.prompt {
  background-color: #FFFFFF !important;
}

div.rendered_html > div.navigation > p {
  text-align: center;
}

a.navbar-brand {
  margin-right: unset;
}
